@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2"), format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2"), format(".woff2");
  font-display: swap;
}

html {
height: 100%;
}

body {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #E5E5E5;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}

/*Pages*/

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.logo-sedona {
  width: 138px;
  text-align: center;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  margin:0 auto;
  padding: 0;
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;

}

.navigation-user {
  max-width: 160px;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/background-index.svg");
  width: 1200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
  background-image: url("../images/welcome-logo.png");
  width: 458px;
  height: 352px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.background-head {
  background-image: url("../images/home-picture-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-position: center;
}

.description {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.sedona-head {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/background-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-transform: uppercase;
}

/*list*/
.advantages-list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Item*/

.advantages-item {
  width: 400px;
  height: 384px;
  margin: 0;
  padding: 0;
}

.index-columns {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 0;
}

.real-city {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/square-blue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.housing {
  color: #FFFFFF;
  background-image: url("../images/square-lightblue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.food {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/square-white.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.souvenirs {
  color: #FFFFFF;
  background-image: url("../images/square-lightblue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.diablo-bridge {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/square-blue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.square {
  color: #FFFFFF;
  background-image: url("../images/square-lightblue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.road {
  color: #FFFFFF;
  background-image: url("../images/square-lightblue2.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.tourists {
  color: #FFFFFF;
  background-image: url("../images/square-lightblue.svg");
  width: 400px;
  height: 384px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

/*Title*/
.advantages-title {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Subtitle*/
.advantages-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-description {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}

/*Appointment*/
.appointment {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  height: 417px;
  margin: 0;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-background {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/background-white-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 417px;
}

.card-background {
  background-image: url("../images/background-mailing-matt.jpg");
  height: 411px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% auto;
}

.mailing {
  margin: 0 auto;
  text-align: center;
}

/*Catalog*/
/*Filter*/
.header-background{
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/catalog-background-matt.jpg");
  height: 408px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% auto;
}

.inner-header-title{
  color: #FFFFFF;
  background-color: #000000;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.breadcrumbs-item {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.catalog-filter-title {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
}

.control-label{
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.catalog-filter-input {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform:lowercase;
}

.button.button-apply {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.button.button-discard {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

/*Catalog*/
.product-card-title {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-align: center;
}

.apartment {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.product-card-price {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.product-card-button.button {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.rating {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  text-transform:capitalize;
}

.sorting {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform:unset;
}

.button.show-more {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/*Pagination*/
.pagination {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

}

/*Footer*/
.page-footer-container {
display: flex;
margin: 0 auto;
}

.footer-social-list {
  width: 47px;
  margin-left: 0;
  list-style: none;
}

.footer-contacts-phone{
  color: #000000;
  background-color: #FFFFFF;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone {
  width: 720px;
  margin-right: 53px;
  text-align: center;
}

.footer-about-text {
  width: 115px;
  margin-left: auto;
  text-align: right;
}

.about-text {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/html-academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
.background-footer {
  background-image: url("../images/background-white-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
