@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2"), format(".woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2"), format(".woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #E5E5E5;;
}

.main-index {
    background-image: url("../images/home-picture-mountains.jpg");
    width: 1200px;
    height: 485px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
}
.main-index .welcome {
    background-image: url("../images/welcome-logo.svg");
    width: 458px;
    height: 352px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
}

.card-background {
    background-image: url("../images/background-mailing-matt.jpg");
    width: 1200px;
    height: 411;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
    }

.inner-header {
    background-image: url("../images/catalog-background-matt.jpg");
    width: 1200px;
    height: 408px; 
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
}